<!-- 특정 환자 진료 정보 조회  -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>medITech</title>
    <!-- Favicon -->
    <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <!-- CSS Files -->
    <link rel="stylesheet" href="/src/css/detail.css" />
  </head>

  <body class="">
    <nav
      class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white"
      id="sidenav-main"
    >
      <div class="container-fluid">
        <!-- Toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#sidenav-collapse-main"
          aria-controls="sidenav-main"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="../index.html">
          <!-- 로고 넣기  -->
          <img src="/public/logo.png" class="navbar-brand-img" alt="..." />
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/blue.png" />
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button
                  type="button"
                  class="navbar-toggler"
                  data-toggle="collapse"
                  data-target="#sidenav-collapse-main"
                  aria-controls="sidenav-main"
                  aria-expanded="false"
                  aria-label="Toggle sidenav"
                >
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- 검색기능  -->
          <form class="mt-4 mb-3 d-md-none">
            <div class="input-group input-group-rounded input-group-merge">
              <input
                type="search"
                class="form-control form-control-rounded form-control-prepended"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fa fa-search"></span>
                </div>
              </div>
            </div>
          </form>
          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/select/data">
                <i class="ni ni-tv-2 text-primary"></i>통계페이지
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/insert">
                <i class="ni ni-planet text-blue"></i> 환자상태입력
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patient">
                <i class="ni ni-planet text-blue"></i> 환자정보입력
              </a>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3" />
          <!-- Heading -->
        </div>
      </div>
    </nav>
    <div class="main-content">
      <!-- Navbar -->
      <nav
        class="navbar navbar-top navbar-expand-md navbar-dark"
        id="navbar-main"
      >
        <div class="container-fluid">
          <!-- Form -->
          <form
            class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"
          ></form>
          <!-- User -->
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a
                class="nav-link pr-0"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              </a>
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="/public/doctor.png" />
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold"
                    ><p class="doctor-name" th:text="${session.loginName}">
                      의사1
                    </p></span
                  >
                </div>
              </div>
              <div class="media-body ml-2 d-none d-lg-block">
                <a href="/logout" class="dropdown-item">
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- Header -->
      <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
      <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">해당 환자 진료 정보</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">방문회차</th>
                      <th scope="col">방문날짜</th>
                      <th scope="col">state</th>
                      <th scope="col">action</th>
                      <th scope="col">reward</th>
                      <th scope="col">혈액검사수치</th>
                      <th scope="col">심전도수치</th>
                      <th scope="col">혈압</th>
                      <th scope="col">x-ray</th>
                      <th scope="col">초음파</th>
                      <th scope="col">소견</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="patient:  ${patientRecordList}">
                      <th scope="row">
                        <div class="media align-items-center">
                          <!-- 여기가 환자 정보 시작  -->
                          <div class="media-body">
                            <span class="mb-0 text-sm"
                              ><td th:text="${patient.patientId}"></td
                            ></span>
                          </div>
                        </div>
                      </th>
                      <td th:text="${patient.turn}"></td>
                      <td th:text="${patient.visitDate}"></td>
                      <td th:text="${patient.state}"></td>
                      <td th:text="${patient.action}"></td>
                      <td th:text="${patient.reward}"></td>
                      <td th:text="${patient.blood}"></td>
                      <td th:text="${patient.ECG}"></td>
                      <td th:text="${patient.bloodPressure}"></td>
                      <td>
                        <img
                          class="img-size"
                          id="xray-img"
                          th:src="@{${'data:image/png;base64,' + patient.xRay}}"
                          alt="X-Ray"
                        />
                      </td>
                      <td>
                        <img
                          class="img-size"
                          id="xray-img"
                          th:src="@{${'data:image/png;base64,' + patient.ultraSound}}"
                          alt="UltraSound"
                        />
                      </td>
                      <td th:text="${patient.comment}"></td>
                      <td th:href="@{|/select/patient/${patient.id}|}">
                        <div class="d-flex align-items-center">
                          <span class="mr-2"><button>조회</button></span>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
          <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
              <div class="copyright text-center text-xl-left text-muted">
                &copy; 2023, medITech
              </div>
            </div>
            <div class="col-xl-6">
              <ul
                class="nav nav-footer justify-content-center justify-content-xl-end"
              ></ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!--   Core   -->
    <script src="/src/detail.js"></script>
  </body>
</html>
