<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
        name="description"
        content="Web site created using create-react-app"
    />
    <script
        src="https://kit.fontawesome.com/f1def33959.js"
        crossorigin="anonymous"
    ></script>
    <!-- Spoca Han Sans Neo: https://spoqa.github.io/spoqa-han-sans/ko-KR/ -->
    <link
        href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
        rel="stylesheet"
        type="text/css"
    />
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.15.1-web/css/fontawesome.min.css">
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <link href="/healthcare.png" rel="icon" type="image/png">
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>medITech</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<header>
    <div class="inner">
        <div class="head-container">
            <div class="head-title"><img src="/logo.png" class="navbar-brand-img" alt="..." /></div>
<!--            <div class="head-title">MediTech</div>-->
        </div>
    </div>
</header>
<div class="login">
    <div class="icon-style">
        <img class="healthcare" src="/consultation.png" alt="" />
    </div>
    <div class="welcome">
        Welcome medITech
        <div class="sub-explain">
            강화학습을 기반으로 한 임상시험 보조 시스템
        </div>
    </div>
    <h1>Login</h1>
    <form method="post">
        <input
            type="text"
            name="id"
            placeholder="Username"
            required="required"
        />
        <input
            type="password"
            name="memberPassword"
            placeholder="Password"
            required="required"
        />
        <button type="submit" class="btn btn-primary btn-block btn-large">
            Let me in.
        </button>
    </form>
</div>
</body>
</html>