<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
<h2>list.html</h2>
<table>
  <tr>
    <th>id</th>
    <th>patientName</th>
    <th>patientAge</th>
    <th>patientGender</th>
    <!--<th>상세조회</th>
    <th>삭제</th>-->
  </tr>
  <tr th:each="patient: ${patientList}"><!--controller에서 model에 담긴 attributeName-->
    <td th:text="${patient.id}"></td><!--위에서 지정한 변수이름인 member.필드이름(DTO에서 지정해준)-->
    <td th:text="${patient.patientName}"></td>
    <td th:text="${patient.patientAge}"></td>
    <td th:text="${patient.patientGender}"></td>
    <!--<td>
       query string /member?id=1
          rest api /member/1
      <a th:href="@{|/member/${member.id}|}">조회</a>//조회기능
    </td>
    <td>
      <a th:href="@{|/member/delete/${member.id}|}">삭제</a>//삭제기능
    </td> -->
  </tr>
</table>
</body>
</html>