<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>medITech</title>
  <!-- Favicon -->
  <link href="/healthcare.png" rel="icon" type="image/png" />
  <!-- Fonts -->
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
  />
  <!-- Icons -->
  <link href="../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link
      href="../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet"
  />
  <!-- CSS Files -->
  <link href="/static/css/submit.css" rel="stylesheet" />
</head>

<body class="">
<div class="col-xl-8 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">Q-learning Result</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="popup-name">
            <span th:text="${patientName}" class="popup-name" style="text-align: center;
              font-weight: bold; font-size: medium;"></span
            ><span class="popup-name" style="text-align: center;
              font-weight: bold; font-size: medium;">님의 현재 상태 </span>
        <span th:text="${patientRecordDTO.state}" class="popup-name" style="text-align: center;
              font-weight: bold; font-size: medium;">
              </span>
        <span style="text-align: center;
              font-weight: bold; font-size: medium;">에서 </span>
        <span th:text="${actionlist}" class="popup-name"
              style="text-align: center;
              font-weight: bold; font-size: medium;"></span>
        <span style="text-align: center;
              font-weight: bold; font-size: medium;">를 취할 수 있습니다.</span>
      </div>
      <table class="table align-items-center table-flush">
        <tr>
          <div class="pl-lg-4">
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">a1</th>
                    <th scope="col">a2</th>
                    <th scope="col">a3</th>
                    <th scope="col">a4</th>
                    <th scope="col">a5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">s1</th>
                    <td th:text="${qtableDTO0.maxQ}"></td>
                    <td th:text="${qtableDTO1.maxQ}"></td>
                    <td>-</td>
                    <td th:text="${qtableDTO2.maxQ}"></td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">s2</th>
                    <td th:text="${qtableDTO3.maxQ}"></td>
                    <td th:text="${qtableDTO4.maxQ}"></td>
                    <td>-</td>
                    <td th:text="${qtableDTO5.maxQ}"></td>
                    <td>-</td>
                  </tr>

                  <tr>
                    <th scope="row">s3</th>
                    <td>-</td>
                    <td>-</td>
                    <td th:text="${qtableDTO6.maxQ}"></td>
                    <td th:text="${qtableDTO7.maxQ}"></td>
                    <td>-</td>
                  </tr>

                  <tr>
                    <th scope="row">s4</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td th:text="${qtableDTO8.maxQ}"></td>
                    <td th:text="${qtableDTO9.maxQ}"></td>
                  </tr>

                  <tr>
                    <th scope="row">s5</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td th:text="${qtableDTO10.maxQ}"></td>
                    <td th:text="${qtableDTO11.maxQ}"></td>
                  </tr>

                  <tr>
                    <th scope="row">s6</th>
                    <td>-</td>
                    <td th:text="${qtableDTO12.maxQ}"></td>
                    <td th:text="${qtableDTO13.maxQ}"></td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </tr>
      </table>
      <div class="popup-action-result">
        <span class="popup-name" style="text-align: center;
              font-weight: bold; font-size: x-large; margin-left: 50px; color:#5e72e4;">Action</span>
        <span th:text="${patientRecordDTO.action}" class="popup-name" style="text-align: center;
              font-weight: bold; font-size: x-large;color:#5e72e4;"
        ></span>
        <span style=" text-align: center;
              font-weight: bold; font-size: large; ">을 실행해주세요.</span
        >
      </div>
    </div>
  </div>
</div>
</body>
</html>